.wf-loading * {
    visibility: hidden;
}

.wf-active * {
    visibility: visible;
}

.flex-wrap{
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap:wrap;
}

.page-container{
    flex-flow: column;
}

.flex {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display:flex;
}

.row-flex {
    -webkit-flex-direction: row;
    flex-direction: row;
}

.column-flex {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.flex-center-x {
    justify-content: center;
    -webkit-justify-content:center;
}

.flex-center-y {
    align-items:center;
    -webkit-align-items:center;
}

.reveal-animation.ng-enter {
    -webkit-animation: Fade-Enter-Anime 3s !important;
    -moz-animation: Fade-Enter-Anime 3s !important;
    animation: Fade-Enter-Anime 3s !important;
}


.inherit-dim {
    width:inherit;
    height:inherit;
}

.parent-dim {
    width:100%;
    height:100%;
}

.full{
    min-height:100vh;
    min-width:100vw;
}

.stack-elements-container {
    position: relative;
}

.stack-elements-container > * {
    position: absolute;
}


@keyframes Fade-Enter-Anime {
    from { opacity: 0; }
    to { opacity: 1; }
 }

@keyframes Fade-Leave-Anime {
    from { opacity: 1; }
    to { opacity: 0; }
}


@-webkit-keyframes Fade-Enter-Anime {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes Fade-Leave-Anime {
    from { opacity: 1; }
    to { opacity: 0; }
}

@-moz-keyframes Fade-Enter-Anime {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes Fade-Leave-Anime {
    from { opacity: 1; }
    to { opacity: 0; }
}

