
* {
    font-family: "sofia-pro";
    font-weight: 600;
    font-style: normal;
}

.dashboard {
    margin-top: 20px;
    margin-bottom:40px;
    position: static;
    flex: 0 1 auto;
    z-index: 9999;
}

.main {
    display: -webkit-flex;
    display: flex;
    flex: 1 1 auto;
}

.dashboard span {
    margin-top: 10px;
    margin-right: 10px;
    padding: 14px;
    border: 2px solid #333;
    color: #333;
    font-size: 24px;
    text-transform: uppercase;
    display: inline-block;
    cursor:pointer;
}

.flex-wrap{
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap:wrap;
}

.page-container{
    min-height: 100vh;
    flex-flow: column;
}

.flex {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display:flex;
}

.row-flex {
    -webkit-flex-direction: row;
    flex-direction: row;
}

.column-flex {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.flex-center-x {
    justify-content: center;
    -webkit-justify-content:center;
}

.flex-center-y {
    align-items:center;
    -webkit-align-items:center;
}

.container {
    -webkit-transition: all 2s;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 500px;
    -moz-transition: all 2s;
    -moz-transform-style: preserve-3d;
    -moz-perspective: 500px;
    width: 30vw;
    height: 30vw;
    margin:20px;
    position: relative;
}

.selected-display {
    width: 60vw;
    height:60vw;
}


.hidden {
    opacity: 0;
    pointer-events: none;
}


.front,
.back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: 2s;
    -moz-transition:2s;
    transition: 2s;
}

.front {
    z-index: 2;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
}

.back {
    z-index: 1;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.circle {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius:50%;
    border: 3px solid #000;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.no-flex-zone {
    width:0px;
    height:0px;
    margin:0px;
}

.inherit-dim {
    width:100%;
    height:100%;
}


