
* {
    font-family: "sofia-pro";
    font-weight: 600;
    font-style: normal;
}

.dashboard {
    margin-top: 20px;
    position: static;
    flex: 0 1 auto;
    z-index: 9999;
}

.main {
    display: -webkit-flex;
    display: flex;
    flex: 1 1 auto;
    width: 100%;
}


.dashboard span {
    margin-top: 10px;
    margin-right: 10px;
    padding: 14px;
    border: 2px solid #333;
    color: #333;
    text-transform: uppercase;
    display: inline-block;
    cursor:pointer;
}

@media all and (min-width: 960px) {
.dashboard span{
    font-size: 2vw;
  }
}

@media all and (max-width: 959px) and (min-width: 600px) {
.dashboard span{
    font-size: 3vw;
  }
}

@media all and (max-width: 599px) and (min-width: 50px) {
.dashboard span{
    font-size: 4vw;
  }
}

.circle-dashboard {
    -webkit-transition: 0.6s ease-in-out;
    -moz-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
    transition-property: border-radius;
}

.circle-dashboard:hover {
    border-radius: 50%;
}

.container {
}

.dashboard:after{

    content: "";
    display: inline-block;
    min-height: 10px;
    height: auto;
}

.selected-display {
    width: 50vh !important;
    height:50vh !important;
}

.no-hidden {
    opacity: 100% !important;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}


.front,
.back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 500px;
    -moz-transform-style: preserve-3d;
    -moz-perspective: 500px;
}

.front {
    -webkit-transition: 2s;
    -moz-transition:2s;
    transition: 2s;
    z-index: 2;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
}

.back {
    margin: 0px 0px 0px 0px !important;
    z-index: 1;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.circle {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius:50%;
    border: 3px solid #000;
    cursor: pointer;
    overflow: hidden;
    width: 35vh;
    height: 35vh;
    margin: 20px 20px 20px 20px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;

}
.no-flex-zone {
    width:0px;
    height:0px;
    margin:0px;
}


