
* {
    font-family: "sofia-pro";
    font-weight: 600;
    font-style: normal;
}

.dashboard {
    margin-top: 10px;
    position: static;
    flex: 0 1 auto;
}

.main {
    display: -webkit-flex;
    flex: 1 1 auto;
}

.dashboard span {
    margin-top: 10px;
    margin-right: 10px;
    padding: 14px;
    border: 2px solid #333;
    color: #333;
    font-size: 24px;
    text-transform: uppercase;
    display: inline-block;
    cursor:pointer;
    z-index: 99999;
}

.flex-wrap{
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap:wrap;
}

.flex-container{
    height: 100%;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display:flex;
    flex-flow: column;
}

.row-flex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.column-flex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.flex-center-x {
    justify-content: center;
    -webkit-justify-content:center;
}

.flex-center-y {
    align-items:center;
    -webkit-align-items:center;
}

.no-flex-zone{
    -webkit-flex:none;
    }
