
* {
    font-family: "sofia-pro";
    font-weight: 600;
    font-style: normal;
}

.dashboard {
    margin-top: 20px;
    position: static;
    flex: 0 1 auto;
    z-index: 9999;
}

.main {
    display: -webkit-flex;
    display: flex;
    flex: 1 1 auto;
    width: 100%;
}


.dashboard span {
    margin-top: 10px;
    margin-right: 10px;
    padding: 14px;
    border: 2px solid #333;
    color: #333;
    font-size: 24px;
    text-transform: uppercase;
    display: inline-block;
    cursor:pointer;
}

.circle-dashboard {
    -webkit-transition: 0.6s ease-in-out;
    -moz-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
    transition-property: border-radius;
}

.circle-dashboard:hover {
    border-radius: 50%;
}

.container {
    -webkit-transition: all 2s;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 500px;
    -moz-transition: all 2s;
    -moz-transform-style: preserve-3d;
    -moz-perspective: 500px;
    width: 40vh;
    height: 40vh;
    margin: 0px 20px 40px 20px;
}

.dashboard:after{

    content: "";
    display: inline-block;
    min-height: 10px;
    height: auto;
}

.selected-display {
    width: 60vh;
    height:60vh;
}

.no_hidden {
    opacity: 100% !important;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}


.front,
.back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: 2s;
    -moz-transition:2s;
    transition: 2s;
}

.front {
    z-index: 2;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
}

.back {
    z-index: 1;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.circle {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius:50%;
    border: 3px solid #000;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.no-flex-zone {
    width:0px;
    height:0px;
    margin:0px;
}


